version: 1.0.{build}
os: Visual Studio 2013

environment:
  CTEST_OUTPUT_ON_FAILURE: 1
  TargetPath: /bin/Richkware.exe
  matrix:
    - Compiler: mingw
      Build: static
    - Compiler: mingw
      Build: shared

cache:
  - C:\mingw64

install:
  - ps: |
      if ($env:Compiler -eq "mingw" -AND -Not (Test-Path "C:\mingw64")) {
        # Install MinGW.
        $file = "x86_64-4.9.2-release-win32-seh-rt_v4-rev3.7z"
        wget https://bintray.com/artifact/download/drewwells/generic/$file -OutFile $file
        &7z x -oC:\ $file > $null
      }
  - set PATH=C:\mingw64\bin;%PATH%
  - set CC=gcc

build_script:
  - ps: |
      if ($env:Compiler -eq "mingw") {
          mingw32-make all
          mingw32-make test
      }

artifacts:
  - path: /bin/
    name: Richkware.exe
  - path: /test/
    name: Richkware_TEST.exe

