version: 2.0.{build}

image:
  - Visual Studio 2022

environment:
  CTEST_OUTPUT_ON_FAILURE: 1
  matrix:
    # Native Windows build with MSVC
    - BUILD_TYPE: Release
      COMPILER: msvc
      PLATFORM: x64
      CMAKE_GENERATOR: "Visual Studio 17 2022"
    # MinGW cross-compilation for Windows
    - BUILD_TYPE: Release
      COMPILER: mingw
      PLATFORM: x64
      CMAKE_GENERATOR: "MinGW Makefiles"

cache:
  - C:\tools\vcpkg\installed\
  - C:\mingw64

install:
  # Install vcpkg for dependencies
  - ps: |
      if (-Not (Test-Path "C:\tools\vcpkg")) {
        git clone https://github.com/Microsoft/vcpkg.git C:\tools\vcpkg
        cd C:\tools\vcpkg
        .\bootstrap-vcpkg.bat
        .\vcpkg integrate install
      }
  - set PATH=C:\tools\vcpkg;%PATH%

  # Install MinGW if needed
  - ps: |
      if ($env:COMPILER -eq "mingw" -AND -Not (Test-Path "C:\mingw64")) {
        $file = "x86_64-8.1.0-release-win32-seh-rt_v6-rev0.7z"
        wget https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win64/Personal%20Builds/mingw-builds/8.1.0/threads-win32/seh/x86_64-8.1.0-release-win32-seh-rt_v6-rev0.7z/download -OutFile mingw.7z
        &7z x -oC:\ mingw.7z > $null
        mv C:\mingw64 C:\mingw64-updated
        mv C:\mingw64-updated C:\mingw64
      }
  - if "%COMPILER%"=="mingw" set PATH=C:\mingw64\bin;%PATH%

  # Install dependencies via vcpkg
  - vcpkg install --triplet x64-windows openssl
  - vcpkg install --triplet x64-windows gtest

before_build:
  - mkdir build
  - cd build

build_script:
  - ps: |
      $cmake_args = @(
        "-DCMAKE_BUILD_TYPE=$env:BUILD_TYPE",
        "-DRICHKWARE_BUILD_TESTS=ON",
        "-DCMAKE_TOOLCHAIN_FILE=C:\tools\vcpkg\scripts\buildsystems\vcpkg.cmake",
        "-DVCPKG_TARGET_TRIPLET=x64-windows"
      )

      if ($env:COMPILER -eq "mingw") {
        $cmake_args += "-G", "`"MinGW Makefiles`""
      } else {
        $cmake_args += "-G", "`"$env:CMAKE_GENERATOR`""
        $cmake_args += "-A", "x64"
      }

      $cmake_cmd = "cmake .. " + ($cmake_args -join " ")
      Write-Host "CMake command: $cmake_cmd"
      Invoke-Expression $cmake_cmd

      # Build
      if ($env:COMPILER -eq "mingw") {
        mingw32-make -j2
      } else {
        cmake --build . --config $env:BUILD_TYPE --parallel 2
      }

test_script:
  - ps: |
      if (Test-Path "CTestTestfile.cmake") {
        ctest --output-on-failure --build-config $env:BUILD_TYPE
      }

artifacts:
  - path: build\bin\$(BUILD_TYPE)\
    name: Richkware-$(COMPILER)-$(PLATFORM)-$(BUILD_TYPE)
    type: zip
  - path: build\lib\$(BUILD_TYPE)\
    name: Richkware-Libs-$(COMPILER)-$(PLATFORM)-$(BUILD_TYPE)
    type: zip

deploy: off

